

@media only screen and (min-width:990px) {
.src{
  margin-left: -1%;
  height: 7em;
  margin-top: 10%;
}

input[type=button]
{
  font-size: 400%;
}

input[type=text] {
  font-size: 400%;
  margin-top: 0em;

}

h3[title="message"]{
  font-size: 150%;


}

.home-links{
  text-align: center;
}

.menu-bar a{
  margin-left:33.33%;
  font-size: 220%;
}



.element{
  margin-top:0em;
  h2{
    font-size:220%;
  }

}

.card{
  h3{
    font-size: 100%;
  }
  a{
    font-size: 100%;
  }
  p{
    font-size: 100%;
  }
}

.comment{
  input[type="submit"]{
    margin-top: 9em;
  margin-left: -16em;
  position: absolute;

  }
}


.similar{
  margin-top: 20%;
}


.partition h2{
  z-index: -1;
  font-size:170%;
  width: 11em;
  margin-left: 38%;
 .h2-setting;
}

.alter{
  margin-top:5.5em;

}
.card{
  height: 75%;
  margin-left: 2%;
  border-left: 2px solid #e6e9f0;
  border-right: 2px solid #e6e9f0;
}
.footer{
      a[title="github"]{
        margin-left: 80%;
      }
    }

      .ui-accordion .ui-accordion-header{
        font-size: 100%;
      }

.user-form{
    #accord{

        form{
          // padding: 2%;
              input[id="name"]{
                font-size: 75%;
              }
              textarea{
                font-size: 75%;
              }
              input[id="tags"]{
                font-size: 75%;
              }
              input[type="button"]{
                font-size: 50%;
              }
              input[type="submit"]{
                font-size: 75%;

              }

              input[id="alternative"]{
                font-size: 75%;
              }

        }
    }
  }

}
