@body-color: #fff;
@font-color:#636b6f;
@import "fonts";
@import "small";

* {
    box-sizing: border-box;
}



.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
   // border: 1px solid red;
}



.row::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    background-color: @body-color;
    color: @font-color;
    margin: 0;
}


/****** WELCOME ******/


/************* Media queries for full screen welcome page************/
@media only screen and (min-width:990px) {
.src{
  margin-left: -1%;
  height: 7em;
  margin-top: 10%;
}

input[type=button]
{
  font-size: 400%;
}

input[type=text] {
  font-size: 400%;
}

}

/* For mobile devices */
@media only screen and (max-width: 990px) {

[class*="col-"] {
    width: 100%;
}

.src{
  margin-top: 2%;
}

input[type=button]{
  font-size: 300%;
}

input[type=text] {
  font-size: 250%;
}

}


/* WELCOME PAGE: MAIN CONTENT*/

input[type=button]{
  padding-left: 0%;
  width: 100%;
  height: 100%;
  .open-sans;
  font-weight:lighter;
  background-color:@body-color;
  color: @font-color;
  border: 0;
}

.search {
  margin-top: 10%;
  background-color:@body-color;
  height: 20%;

  input[type=text] {
        position: absolute;
        padding: 12px 20px 12px 40px;
        width: 5%;
        border: 0;
        outline: 0;
        width: 0%;
        background: transparent;
        color: @body-color;
        text-align:left;
        font-weight: 100;
        .raleway;

        &:focus{
          transition: width 4s ease;

          text-align:left;
          background-color: @body-color;
          position: absolute;
          margin-left: 2%;
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid @font-color;
          width: 90%;
          color:#566573;

        }

      }

}




/****** MAIN PAGE END ******/


/***** Home Page ******/


/******* top panel *******/
.menu-bar {
    background-color: @body-color;
    position: fixed;
    width: 100%;
    min-width: 50%;
    min-height:7%;
    z-index: 1;
    margin-top: 0%;
    margin-left: -2%;
    padding: 1%;
    padding-left: 35%;

  .menu-title  {
      overflow:auto;
      padding: .5%;
      width: 37%;

      a{
        color: @font-color;
        font-weight: lighter;
        .open-sans;
        font-size: 220%;
        text-decoration: none;
      }
      .title-span{
        .roboto;
        font-size:70%;
        font-weight: normal;
     }

    }

}


/**** End: Top Panel *****/

/*Element Image*/

.element{
  position: absolute;
  top:14%;
  height: 60%;
  width: 100%;
  background-color:  #f7f9f9 ;
  h2{
        position: absolute;
        top:0%;
        left: 43%;
        .h2-setting;
  }

  /*background-color:#f2f3f4;*/
}

.ele-desc {
    position: absolute;
    top: 14%;
    left: 23%;
    margin-right:15%;
    font-weight: normal;
    font-size: 130%;
    p:first-of-type::first-letter{
      font-size: 170%;
      .raleway;
      font-weight: bolder;
    }

}


.partition{
    position: absolute;
    top: 74%;
    height: 20%;
    width: 100%;
    background-color:#f4f6f7;
    h2{
     position: absolute;
     top: 16%;
     left: 38%;
     .h2-setting;
   }


}


.alter{
  position: absolute;
  top:115%;
  height: 60%;
  width: 100%;
  h2{
    position: absolute;
    top:0%;
    left: 43%;
    .h2-setting;
  }

}

/***** Home Page End *******/
