@body-color: #fff;
@font-color:black;
@import "fonts";
@import "fullscreen";

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    background-color: @body-color;
    color: @font-color;
    margin: 0;
}

body ::-moz-selection{
    background: #d4e6f1;
    color:@font-color;
}

body ::-webkit-selection{
    // background: #d4e6f1;
    color:@font-color;
}

/****** WELCOME ******/

/* For mobile devices */

@media only screen and (max-width: 990px) {

[class*="col-"] {
    width: 100%;
}

.home-links{
  visibility: hidden;
}

.src{
      margin-top: -5em;
}

input[type=button]{
  font-size: 300%;
}

input[type=text] {
  font-size: 230%;
  margin-top:-6em;
  width: 91.66%;
  text-align: center;
}
.logo{
  visibility: hidden;
}

p[title="message"]{
  font-size: 115%;
  margin-left: 35%;
  margin-top:-2em;
}

.menu-bar {

  height: 4em;
  a{
        margin-left: auto;
        font-size: 250%;
  }
}

.element{
    margin-top:0em;
    h2{
          font-size: 170%;
      }
}

.card{
  h3{
    font-size: 85%;
  }
  a{
    font-size: 85%;
  }
  p{
    font-size: 85%;
  }
}
.comment{
  height:30em;
  input[name="email"]{
    float: left;
  }

  input[type="submit"]{
    margin-top: 15em;
    float: left;
    margin-left: -15em;
    }
}

.partition h2{
      width: 107%;
      padding-left:1em;
      margin-left: auto;
      .h2-setting;
      font-size: 180%;
      margin-left:-1em;

}

.alter{
      margin-top: 5em;
}
.card{
  height: 10em;
  margin-left: 0%;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;

}
.search-tags{
  a[name="tags"]{
        font-size: 75%;
    }
  }


  .ui-accordion .ui-accordion-header{
    font-size: 80%;
  }

  #accord{

      form{
            input[id="name"]{
              font-size: 60%;
            }
            textarea{
              font-size: 60%;
            }
            input[id="tags"]{
              font-size: 60%;
            }
            input[type="button"]{
              font-size: 60%;
            }
            input[type="submit"]{
              font-size: 60%;

            }
            input[id="alternative"]{
              font-size: 60%;
            }

      }
  }

}

@media only screen and (max-width:750px)
{
}

@media only screen and (max-width:565px) {

input[type="text"]{
  font-size: 180%;
  margin-top:-7em;
}
.ui-accordion .ui-accordion-header{
  font-size: 70%;
}

.card{
  p{
    font-size: 80%;
  }
  h3{
    font-size: 80%;
  }
  a{
    font-size: 80%;
  }
}

#accord{

    form{
          input[id="name"]{
            font-size: 50%;
          }
          textarea{
            font-size: 50%;
          }
          input[id="tags"]{
            font-size: 50%;
          }
          input[type="button"]{
            font-size: 50%;
          }
          input[type="submit"]{
            font-size: 50%;

          }

          input[id="alternative"]{
            font-size: 50%;
          }

    }
}

  a[id="alterbit-home"]{
    font-size: 200%;
  }
  span{
        visibility:hidden;
    }
.card{
    margin-left:0%;
    border-left: 2px solid #e6e9f0;
    border-right: 2px solid #e6e9f0;
    }
}

@media only screen and (max-width:470px){

}
@media only screen and (max-width:320px) {
    .partition h2{
      font-size: 150%;
    }
}

/* Home PAGE: MAIN CONTENT*/
.home-links{
  margin-left: -8em;
table{
  border-spacing: 20px 0;
}
a{
  text-decoration: none;
  color: #566573 ;
  .roboto;
  font-weight: bold;
  &:hover{
          transition: 200ms ease-out 50ms;
          color: black;
    }
  }
  a[id="src"]{
    color: black;
    font-weight: bold;
    text-decoration: underline;

  }

}


.welcome-search{
  padding-left: 0%;
  width: 100%;
  height: 100%;
  .open-sans;
  font-weight:lighter;
  background-color:@body-color;
  color: @font-color;
  border: 0;
}

.logo{
  h4{
    margin-left: 10%;
    margin-top: -1em;
    .roboto;
    font-weight: lighter;
    font-size: 150%;
  }
}

.search {
  margin-top: 3%;
  background-color:@body-color;
  height: 20%;
  input[type=text] {
        position: absolute;
        padding: 12px 20px 12px 40px;
        border: 0;
        outline: 0;
        background: @body-color;
        color: black;
        // text-align:left;
        font-weight: 100;
        border-bottom: 1px solid @font-color;
        .raleway;

  }

}

p[title="message"]{
    .roboto;
    font-size: 55%;
}

/****** MAIN PAGE END ******/


/** Navbar **/

.menu{
  background-color:@body-color;
  position:fixed;
  z-index: 1;
  margin-top:4em;

  input[type=search]{
      width:100%;
      margin-left: 0%;
      border: transparent;
      border-bottom: 1px solid @font-color;
      text-align: center;
      background-color: @body-color;
      .raleway;
      color: @font-color;
      font-size: 100%;
      transition: 1s ease-out 50ms;

      &:focus{
                transform: scale(1.5);
              }
  }
}

.menu-bar{
  background-color:@body-color;
  position: fixed;
  z-index:1;

  a{
    color: @font-color;
    font-weight: lighter;
    .open-sans;
    text-decoration: none;

    span{
            .roboto;
            font-size:70%;
            font-weight: lighter;
        }
        &:hover{
          text-decoration: none;
          color: black;
        }
  }


}

.link{
  margin-top: 7em;
  a{
    color:black;
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
  li{
  list-style: none;
  }
}

/** Navbar End**/

/***** Entity Page ******/

/** Element - info **/

.element{
  z-index: 1;
  background-color:@body-color;

  h2{
        font-family: 'Playfair Display', serif;
        color:black;
    }

    h2::first-letter{
        text-transform: capitalize;
    }

  p{
        color:#2c3e50;
        .roboto;
        font-weight:normal;
        text-align:justify;
  }
  p[title="entity"]{
        color:#2c3e50;
        .roboto;
        font-weight:normal;
        text-align:justify;


  }

  p:first-of-type::first-letter{
      text-transform: capitalize;
      font-weight: bold;
  }

  .card-img{
    img{
          max-width: 100%;
          max-height: 75%;
        }
      }
}

hr{
   border: 0;
   height: 1px;
    background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.comment{
  padding-left: 3%;
  height: 16em;
  h4{
    margin-top: -2%;
      .open-sans;
  }
  input[type="email"]{
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

textarea{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 2.5%;
    font-size: 120%;
    height:5em;
    width:100%;
    resize: none;
    }
input[type="submit"]{
  .roboto;
  color:white;
}

}


.partition{
    h2{
          background-color: white;
      }
    position: absolute;
    color:@font-color;
  }

.alter{
  width: 100%;
  height:25em;
  padding-top:2%;
  padding-bottom: 2%;
}
.card{
        background-color: @body-color;
        transition: 500ms ease-in 50ms;
        border-radius:2%;
        color: @font-color;

        &:hover{
          border-left: 2px solid black;
          border-right: 2px solid black;

        }

        h3 {
          .open-sans;
        }

        p{
          .raleway;
        }

        a{
          .roboto;
          text-decoration:underline;
          text-decoration-style:solid;
          color:#2c3e50;
          transition: 1s ease 50ms;
          }
          a:hover{
            color: black;
          }
      }

.card-sugg{
  border:0.5px solid lightgrey;
  background-color: @body-color;
  transition: 500ms ease-in 50ms;
  border-radius:2%;
  color: @font-color;
  min-height: 15em;
  &:hover{
    border: 1px solid black;
  }

  h3 {
    .open-sans;
  }

  p{
    .raleway;
    &:first-of-type{
      text-transform: capitalize;
    }
  }
  form{
    .raleway;
  }



}



.footer{

  background-color:#d6dbdf;
  p{
        color: #2c3e50;
        font-family: 'Permanent Marker', sans-serif;
        font-size: 145%;
        margin-top: 0%;
  }

  a{
        text-decoration: none;
        color: #2c3e50;
        transition: 1s ease 50ms;
    }

    a:hover{
          color: black;
    }

    a[title="github"]::before{
            content:url("../images/GitHub.png");
    }

    a[title="design"]{
          font-family: 'Permanent Marker', sans-serif;
          font-size: 145%;
    }
}

.footer[name="src-foot"]{
  margin-top: 2em;
}

/** End : Element **/

/***** Entity End *******/


/***** Search Page *****/

.src-page-bar{
  input[type="search"]{
    width: 100%;
    border: none;
    border-bottom: 1px solid lightgrey;
    margin-top:2em;
    font-size: 250%;
    .roboto;
    background: transparent;
    color: @font-color;
  }
}

.src-tags{
  a{
    text-decoration: none;
    color:grey;
    margin-left: 1em;
    &:hover{
      color: @font-color;
    }
  }
}

.src-head{
  border: none;
  border-top: 1px solid  #eaecee ;
  h3{
    margin-top: -1%;
    .h2-setting;
    color: grey;
  }
}


.search-result{
  margin-top: 1em;
  border: none;
  border-bottom: 1px solid lightgrey;
  transition: 500ms ease-out;
  &:hover{
    transform: scale(1.005);
  }
.src-img{
  img{
    border-radius: 2%;
      max-width: 100%;
  }
}

  h2{
        color: black;
        .h2-setting;
  }

  h2::first-letter{
    text-transform: capitalize;
  }

    p{
      margin-top: -2%;
      color:#2e4053;
      text-decoration: none;

    }

    p::first-letter{
      text-transform: capitalize;
    }

}

/* Search page end*/

/* Suggestions page*/

.user-form{
  background-color: @body-color;
  margin-top: 4em;
  h3{
        .roboto;
    }

    label{
    margin-top: 2em;
    .roboto;
    font-size: 120%;
    }

  form{
    padding: 2%;

        .name{
          margin-top: 4%;
          width: 100%;
          font-size: 120%;
          color: black;
          .roboto;
          background-color: #fff;
          border: 1px solid black;
          padding: 2%;
        }

        .admin-name{
          margin-top: 4%;
          width: 100%;
          font-size: 80%;
          color: black;
          .roboto;
          background-color: #fff;
          border: 1px solid black;
          padding: 2%;
        }

        textarea{
          resize: none;
          .roboto;
          border: 1px solid black;
          padding: 2%;
          margin-top: 4%;
          width: 100%;
          height: 7em;
          background-color: #fff;
          color: black;
          // font-size: 130%;
        }
        input[name="tags"]{
          margin-top: 4%;
          width: 80%;
          // font-size: 120%;
          color: black;
          .roboto;
          background-color: #fff;
          border: 1px solid black;
          padding: 2%;

        }
        input[type="button"]{
            margin-top: 4%;
            background-color: #d4e6f1;
            color:grey;
            border: none;
            padding: 2%;
            .roboto;
            &:hover{
              transition: 200ms ease-out 50ms;
              color:black;
            }

        }
        input[type="submit"]{
            font-size: 100%;
            margin-top: 2%;
            background-color: #d4e6f1;
            color:grey;
            border: none;
            padding: 2%;
            .roboto;

            &:hover{
              transition: 200ms ease-out 50ms;
              color:black;
            }
        }

        input[id="alternative"]{
          margin-top: 4%;
          width:100%;
          font-size: 120%;
          color: black;
          .roboto;
          background-color: #fff;
          border: 1px solid black;
          padding: 2%;
        }
        a{
          text-decoration: none;
        }

        select
        option{
          font-size: 1.1em;
        }
  }

}

.sugg-page-form{
background-image: linear-gradient(to left, #fdfbfb 0%, #ebedee 100%);
  margin-top: 0em;
  h3{
        .roboto;
        &:first-of-type{
          text-transform: capitalize;
        }
    }

    .sugg-page-bar{
      input[type="search"]{
        width: 100%;
        border: none;
        border-bottom: 1px solid lightgrey;
        font-size: 150%;
        .roboto;
        background: transparent;
        color: @font-color;
      }
    }
    input[type="search"]{
      background-color: @body-color;
      .raleway;
      border: 1px solid lightgrey;
      font-size: 143%;
      padding: 1%;
      width: 17em;
      border-radius: 2%;
      transition: 500ms ease-out;
      &:hover{
        border: 1px solid black;
      }
    }
    input[value="Done"]{
      border: 0.5px solid lightgrey;
      border-radius: 2%;
      background-color: @body-color;
      font-size: 110%;
      padding: 2%;
      margin-left: 41.66%;
      transition: 500ms ease-out;
      &:hover{
        border: 1px solid black;
      }
    }
    .alt-sel{
      border: 0.5px solid lightgrey;
      border-radius: 2%;
      background-color: @body-color;
      font-size: 110%;
      padding: 2%;
      transition: 500ms ease-out;
      &:hover{
        border: 1px solid black;
      }
    }

}




/* Login Form*/

.login{

  margin-top: 5em;
  h3{
    font-size: 150%;
    .raleway;
  }

  input[type="email"]{
    width:100%;
    font-size: 120%;
    color: black;
    .roboto;
    background-color: #fff;
    border: 1px solid black;
    padding: 2%;

  }

  .pass{
    input[type="password"]{
      width:100%;
      font-size: 120%;
      color: black;
      .roboto;
      background-color: #fff;
      border: 1px solid black;
      padding: 2%;

    }
  }
  label[title="checkbox"]{
    font-size: 120%;
    color: black;
    .roboto;
  }
  .button{
    width: 100%;

    button[title="login"]{
      font-size: 100%;
      background-color: #d4e6f1;
      color:#1c2833;
      border: none;
      padding: 2%;
      .roboto;

      &:hover{
        transition: 200ms ease-out 50ms;
        color:black;
      }
    }
    a{
      text-decoration: none;
      .roboto;
      color:grey;

      &:hover{
        transition: 200ms ease-out 50ms;
        color:black;
      }
    }
  }
  strong[title="error-mess"]{
    .open-sans;
    color: red;
  }

}

/* Register */

.register{
  margin-top:7em;
  h3{
    font-size: 180%;
    .raleway;
  }

  input[id="name"]{
    margin-left: 12em;
    font-size: 100%;
    .roboto;
    color: black;
    border: 1px solid black;
  }

  input[type="email"]{
    margin-left: 10em;
    width:100%;
    font-size: 120%;
    color: black;
    .roboto;
    background-color: #fff;
    border: 1px solid black;
    padding: 2%;

  }

  input[type="password"]{
    margin-left: 10em;
    width:100%;
    font-size: 120%;
    color: black;
    .roboto;
    background-color: #fff;
    border: 1px solid black;
    padding: 2%;

  }

  button[type="submit"]{
    margin-left: 3em;
    font-size: 120%;
    background-color: #d4e6f1;
    color:#1c2833;
    border: none;
    padding: 2%;
    .roboto;

    &:hover{
      transition: 200ms ease-out 50ms;
      color:black;
    }
  }


}
