@body-color: #fff;
@font-color:black;
@import "fonts";
@import "fullscreen";

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
   float: left;
   padding: 15px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

html, body {
    background-color: @body-color;
    color: @font-color;
    margin: 0;
}

body ::-moz-selection{
    background: #d4e6f1;
    color:@font-color;
}

body ::-webkit-selection{
    background: #d4e6f1;
    color:@font-color;
}

/****** WELCOME ******/

/* For mobile devices */

@media only screen and (max-width: 990px) {

[class*="col-"] {
    width: 100%;
}

.src{
      margin-top: 2%;
}

input[type=button]{
  font-size: 300%;
}

input[type=text] {
  font-size: 250%;
  margin-top: -2em;
}

h3[title="message"]{
  font-size: 115%;
  margin-left: 35%;
  margin-top:-2em;
}

.menu-bar {

  height: 4em;
  a{
        margin-left: auto;
        font-size: 250%;
  }
}

.element{
    margin-top:2em;
    h2{
          font-size: 170%;
      }
}
.comment{
  height:30em;
  input[name="email"]{
    float: left;
  }

  input[type="submit"]{
    margin-top: 15em;
    float: left;
    margin-left: -15em;
    }
}

.partition h2{
      width: 107%;
      padding-left:1em;
      margin-left: auto;
      .h2-setting;
      font-size: 180%;
      margin-left:-1em;

}

.alter{
      margin-top: 5em;
}
.card{
  height: 10em;
  margin-left: 0%;
  border-left: 0 solid #fff;
  border-right: 0 solid #fff;

}
.search-tags{
  a[name="tags"]{
        font-size: 75%;
    }
  }

}

@media only screen and (max-width:750px)
{
  h3[title="message"]{
    margin-left:30%;
  }
}

@media only screen and (max-width:565px) {
  span{
        visibility:hidden;
    }
.card{
    margin-left:0%;
    border-left: 2px solid #e6e9f0;
    border-right: 2px solid #e6e9f0;
    }
    h3[title="message"]{
      margin-left:25%;
    }
}

@media only screen and (max-width:470px){
  h3[title="message"]{
    margin-left:10%;
  }
}
@media only screen and (max-width:320px) {
    .partition h2{
      font-size: 150%;
    }
}

/* Home PAGE: MAIN CONTENT*/

.welcome-search{
  padding-left: 0%;
  width: 100%;
  height: 100%;
  .open-sans;
  font-weight:lighter;
  background-color:@body-color;
  color: @font-color;
  border: 0;
}

.search {
  margin-top: 10%;
  background-color:@body-color;
  height: 20%;
  input[type=text] {
        position: absolute;
        padding: 12px 20px 12px 40px;
        width: 5%;
        border: 0;
        outline: 0;
        width: 0%;
        background: transparent;
        color: @body-color;
        text-align:left;
        font-weight: 100;
        .raleway;

        &:focus{
          transition: width 4s ease;
          text-align:left;
          background-color: @body-color;
          position: absolute;
          margin-left: 2%;
          border: 0;
          outline: 0;
          background: transparent;
          border-bottom: 1px solid @font-color;
          width: 90%;
          color:#566573  ;

        }

  }

}

h3[title="message"]{
    .roboto;
    font-weight: lighter;
}

/****** MAIN PAGE END ******/


/** Navbar **/

.menu{
  background-color:@body-color;
  position:fixed;
  z-index: 1;
  margin-top:4em;

  input[type=search]{
      width:100%;
      margin-left: 0%;
      border: transparent;
      border-bottom: 1px solid @font-color;
      text-align: center;
      background-color: @body-color;
      .raleway;
      color: @font-color;
      font-size: 100%;
      transition: 1s ease-out 50ms;

      &:focus{
                transform: scale(1.5);
              }
  }
}

.menu-bar{
  background-color:@body-color;
  position: fixed;
  z-index:1;

  a{
    color: @font-color;
    font-weight: lighter;
    .open-sans;
    text-decoration: none;

    span{
            .roboto;
            font-size:70%;
            font-weight: lighter;
        }
  }

}

/** Navbar End**/

/***** Entity Page ******/

/** Element - info **/

.element{
  z-index: 1;
  background-color:@body-color;

  h2{
        font-family: 'Righteous', cursive;
        color:black;
    }

    h2::first-letter{
        text-transform: capitalize;
    }

  p{
        color:#2c3e50;
        .roboto;
        font-weight:normal;
        text-align:justify;
  }
  p[title="entity"]{
        color:#2c3e50;
        .roboto;
        font-size: 50%;
        font-weight:normal;
        text-align:justify;


  }

  p:first-of-type::first-letter{
        font-size: 170%;
        font-weight: bolder;
  }

  .card-img{
    img{
          max-width: 100%;
          max-height: 75%;
        }
      }
}

hr{
   border: 0;
   height: 1px;
    background: #333; background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.comment{
  padding-left: 3%;
  height: 16em;
  h4{
    margin-top: -2%;
      .open-sans;
  }
  input[type="email"]{
    color: black;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

textarea{
    color: black;
    background-color: transparent;
    border: 1px solid black;
    padding: 2.5%;
    font-size: 120%;
    height:5em;
    width:100%;
    resize: none;
    }
input[type="submit"]{
  .roboto;
  color:white;
}

}


.partition{
    h2{
          background-color: white;
      }
    position: absolute;
    color:@font-color;
  }

.alter{
  width: 100%;
  height:25em;
  padding-top:2%;
  padding-bottom: 2%;
}
.card{
        background-color: @body-color;
        transition: 500ms ease-in 50ms;
        border-radius:2%;
        color: @font-color;

        &:hover{
          border-left: 2px solid black;
          border-right: 2px solid black;

        }

        h3 {
          .open-sans;
        }

        p{
          .raleway;
        }

        a{
          .roboto;
          text-decoration:underline;
          text-decoration-style:solid;
          color:#2c3e50;
          transition: 1s ease 50ms;
          }
          a:hover{
            color: black;
          }
      }


.footer{

  background-color:#d6dbdf;
  p{
        color: #2c3e50;
        font-family: 'Permanent Marker', sans-serif;
        font-size: 145%;
        margin-top: 0%;
  }

  a{
        text-decoration: none;
        color: #2c3e50;
        transition: 1s ease 50ms;
    }

    a:hover{
          color: black;
    }

    a[title="github"]::after{
            content:url("../images/GitHub.png");
    }

    a[title="design"]{
          font-family: 'Permanent Marker', sans-serif;
          font-size: 145%;
    }
}

.footer[name="src-foot"]{
  margin-top: 1em;
}

/** End : Element **/

/***** Entity End *******/


/***** Search Page *****/

.src-page{
  margin-top:7em;

}

.search-result{
  margin-top: -2em;
  box-shadow: 0 0 3px black;
  transition: 500ms ease-out;
  &:hover{
    transform: scale(1.005);
    box-shadow: 0 0 5px black;
  }
  img{
    max-width: 100%;
  }
  h2{
      .h2-setting;
      font-weight: bolder;

  }
  h2::first-letter{
    text-transform: capitalize;
  }
  a{
    float: right;
    .roboto;
    text-decoration:none;
    text-decoration-style:solid;
    color:black;
    transition: 1s ease 50ms;
    }
    a:hover{
      text-decoration:underline;
    }
    p{
      color:#2e4053;
    }
}

.search-tags{
  padding-left: 2%;
  border-left: 1px solid lightgrey;
  a[name="tags"]{
      text-decoration: none;
      color:#2e4053;
      background-color:#d6dbdf;
      padding:2%;
      &:hover{
        color:black;
      }
  }
}
.similar{
  li {
    a{
        text-decoration: none;
        color:#2e4053;
        &:hover{
          color:black;
        }
      }

  }
}
